* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Titan One", cursive;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.inicio {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}
.cortina {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  display: none;
}
.navbar {
  width: 100%;
  height: 10vh;
  background-color: #292728;
  display: flex;
  flex-direction: row;
  /* z-index: 1; */
}

#name-video {
  font-size: 1rem;
}

.img {
  width: 20%;
  height: 100%;
}

.img img {
  width: 40%;
}

.search {
  width: 80%;
  display: flex;
  align-items: center;
}
.navbar input {
  width: 80%;
  height: 3.7vh;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 0.3rem;
}
button {
  border-radius: 0.5rem;
  background-color: #ff0000;
  padding: 0.3rem;
  cursor: pointer;
}
.content {
  background-color: #ffff;
  height: 90vh;
  width: 100%;
  flex-direction: row;
  display: flex;
  /* padding: 1rem; */
}

.video {
  width: 70%;
  height: 87vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-video {
  width: 80%;
  height: 45vh;
  margin-bottom: 0.6rem;
}

#iframe {
  width: 100%;
}

.title {
  width: 100%;
  height: 5vh;
  margin-bottom: 1rem;
}

h4 {
  text-align: center;
}

.related {
  width: 100%;
  height: 30vh;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  background-color: rgba(202 202 202 / 57%);
  border: 1px solid rgba(202 202 202 / 57%);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#related {
  width: 25%;
  margin: 1rem;
}

.related::-webkit-scrollbar {
  height: 4px;
}

.related::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}

.related::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(255 0 0 / 75%);
}

.info {
  width: 30%;
  background-color: #231f21;
  color: white;
  font-size: 12px;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 3px solid black; */
}

.icon {
  margin-left: 2rem;
  width: 30%;
  height: 10vh;
  padding: 0.5rem;
  padding-top: 0.8rem;
}

.icon img {
  width: 55%;
  border-radius: 1.5rem;
}
.name {
  width: 78%;
  text-align: left;
}
.comments {
  /* border: 3px solid black; */
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  padding: 1rem;
}

#comments-video::-webkit-scrollbar {
  width: 4px;
}
#comments-video::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
#comments-video::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(255, 0, 0, 0.8);
}

.description {
  /* border: 3px solid black; */
  padding: 1rem;
  width: 100%;
  height: 24.5vh;
  overflow-y: auto;
}

.description::-webkit-scrollbar {
  width: 4px;
}
.description::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
.description::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgb(255, 0, 0, 0.8);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
